@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this platform you can find all information about current coaches and courses</a>.</p>
</div>
